@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$red: #8C414A;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: $beige-lighter;
$input-shadow: none;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/grid/columns.sass";

.hero.is-purple, .hero.is-red {
  background-color: $purple;
  color: $white;

  .title {
    color: $white;
  }

  .subtitle {
    color: $white-bis;
  }
}

.hero.is-red {
  background-color: $red;
}

.box.is-medium {
  width: 640px;
}

.has-margin-auto {
  margin: 0 auto;
}

.notification {
  margin-bottom: 0 !important;
}

.card.has-min-height-otp {
  min-height: 360px;
}

.card.is-small {
  width: 480px;
}

.flex-justify-center {
  justify-content: center !important;
}

.is-code {
  margin: 0 auto;

  input {
    width: 100px;
  }
}

.is-relative {
  position: relative;
}

.wizard {
  display: none;
}

.wizard.wizard--current {
  display: block;
}

.recovery-codes {
  background-color: $white-ter;
}

.clipboard.tooltip {
  background-color: $primary;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  opacity: 0.8;
  position: absolute;
  top: -50px;
}

.has-highlight-text.is-red {
  color: $red;
}

.button.is-danger {
  background-color: $red
}
